@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: white; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(../img/back.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
}

header.encabezado, footer.piePagina{
	background-color:#42a5f5;
	margin: 0 auto;
	text-align: center;
	font-family: "Quando", serif;
	font: bold;
	padding: 1em;
	color: black;
}
header.encabezado img{
	display: inline-block;
}
header.encabezado h1{
	display: inline-block;
	font-size: 2em;
}
header.encabezado h2{
	padding: 0.5em 0em 0em 0em;
	font-size: 1.2em;
}

nav.menuPrincipalIniciando{
	max-width: 100%;
	margin-right: 0;
	background-color:#90caf9;
	padding: 0.7em 0em 0.65em 0em;
}
nav.menuPrincipalNavegando{
	max-width: 100%;
	background-color: #90caf9;
}
nav a{
	text-decoration: none;
	color:black;
	font-size: 1.2em;
	font-family: 'Quicksand', sans-serif;
	padding: 0.65em 1em 0.55em 1em;
}
nav a:hover{
	background-color: #bbdefb;
	border-bottom: 1px solid #000;
}
nav div.menuPrincipal1{
	width: 40%;
	display: inline-block;
}
nav div.menuPrincipal4{
	width: 60.5%;
	display: inline-block;
}
nav div.menuPrincipal2, div.menuPrincipal3{
	width: 15%;
	display: inline-block;
	margin-left: 44.2%;
}
nav div.menuPrincipal3{
	width: 14.9%;
	display: inline-block;
	margin-left: 44.65%;
}
nav div.menuPrincipal5{
	width: 14.9%;
	display: inline-block;
	margin-left: 24%;
}

ul, ol{
	list-style: none;
}
nav div.menuPrincipal3 li a, div.menuPrincipal5 li a{
	display: block;
}
nav div.menuPrincipal3 > li, div.menuPrincipal5 > li{
	float: left;
}
nav div.menuPrincipal3 li ul, div.menuPrincipal5 li ul{
	display: none;
	position: absolute;
	min-width: 200px;
}
nav div.menuPrincipal5 li ul{
	min-width: 201px;
}
nav div.menuPrincipal3 li:hover > ul, div.menuPrincipal5 li:hover > ul{
	display: block;
	background-color:  #90caf9;
}
nav.menuPrincipalNavegando div.menuPrincipal3 p.nombreUser, div.menuPrincipal5 p.nombreUser{
	width: 139px;
    white-space: nowrap;
    text-overflow: ellipsis;
	overflow: hidden;
	display: flex;
}
div.imgCuerpo section.sectionCuerpo h1{
	text-align: center;
	margin: 2em;
	font-family: 'Quicksand', sans-serif;
}
div.imgCuerpo section.articulos {
	display: flex;
}
div.imgCuerpo section.articulos article.imagen{
	margin: 3.3em;
	background-color: #42a5f5;
}
div.imgCuerpo section.articulos article.imagen h5{
	text-align: center;
	font-size: larger;
	background-color: #42a5f5;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: 'Quicksand', sans-serif;
}
footer.piePagina{
	display: flex;
	font-family: "Quando", serif;
	align-content: center;
	align-items: center;
}
footer.piePagina p.informacion{
	width: 20%;
	font-size: 1.25em;
	font-family: "Quando", serif;
	padding: 0.45em 0em 0em 0em;
	color: white;
}
footer.piePagina ul.redesSociales{
	padding-left: 25%;
}
footer.piePagina ul.redesSociales li{
	display: inline-block;
	padding: 0em 0.3em 0em 0.3em;
}
footer.piePagina div.utpl{
	display: inline-block;
	padding-left: 32%;
}
div.ventanaLogeo {
	text-align: left;
	font-size:large;
	margin-top: 2em;
	margin-left: 22em;
	margin-right: 22em;
	margin-bottom: 2em;
	background-color:white;
	border-bottom: #000 solid 3px;
}
div.ventanaLogeo img{
	margin-left: 6em;
}
div.div2{
	padding: 1em;
	font-size: x-large;
	font-family: "Quando", serif;
}
div.div3{
	margin: 1em;
	margin-left: 4em;
}
div.div3 label{
	font-family: "Quando", serif;
	margin-right: 1em;
}
div.div3 input{
	font-family: "Quando", serif;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 1em;
}
div.div4 input{
	padding-right: 18em;
}
div.div5 {
	margin-left: 4em;
	margin-bottom: 1em;
	font-family: "Quando", serif;
}
div.div6{
	padding-bottom: 1em;
}
div.div6 button{
	background-color: #42a5f5;
	padding: 1em;
	margin-left: 5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-right: 0.5em;
	color: white;
	border: white solid 1px;
}
div.div6 a{
	color: #42a5f5;
}
div.VentanaRegistro {
	text-align: left;
	font-size:large;
	margin-top: 2em;
	margin-left: 22em;
	margin-right: 22em;
	margin-bottom: 2em;
	background-color:white;
	border-bottom: #000 solid 3px;
	font-family: "Quando", serif;
}
div.reg1 {
	font-size: x-large;
	padding: 1em;
}
div.reg1 img{
	margin-left: 8em;
}
div.reg2 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.col-md-6 input{
	padding-right: 18em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
div.reg3 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.reg4 input {
	padding-right: 18em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
div.reg5 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.reg6 input{
	padding-right: 18em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
div.reg7 {
	margin-left: 4em;
	margin-top: 1em;
	margin-bottom: 1em;
}
div.reg8 input{
	padding-right: 18em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}
div.reg9 button {
	background-color: #42a5f5;
	padding: 1em;
	margin-left: 5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	color: white;
	border: white solid 1px;
}

section.contenidoHomeAdmin{
	max-width: 100%;
	text-align: center;
	font-family: 'JetBrains Mono', monospace;
}
section.contenidoHomeAdmin p.titulo1{
	font-size: 1.5em;
	margin: 2em 20% 0em 20%;
	padding: 0.4em 0em 0.4em 0em;
	align-items: center;
	text-align: center;
	font-family: 'JetBrains Mono', monospace;
}
section.contenidoHomeAdmin p.titulo1:hover{
	box-shadow: 0 47px  #ccff90 inset,
				150px 0 yellow inset,
				300px 0 red inset,
				450px 0 rosybrown inset,
				600px 0 skyblue inset,
				750px 0 springgreen inset,
				900px 0 #42a5f5 inset;
}
section.contenidoHomeAdmin article.informacionUsers{
	border: 1px solid black;
	width: 23%;
	display: inline-block;
	margin: 5.7em 2em 5.7em 2em;
	background-color:#b2dfdb;
}
section.contenidoHomeAdmin article.informacionUsers div.titulo2{
	background-color: #26a69a;
	padding: 0.5em;
	color: white;
}
section.contenidoHomeAdmin article.informacionUsers{
	color: #26a69a;
	filter: opacity(70%);
}
section.contenidoHomeAdmin article.informacionUsers:hover{
	filter: opacity(500%);
}
article div.apartado1{
	width: 49%;
	display: inline-block;
	padding: 1em 0em 1em 0em;
}
article div.apartado2{
	width: 43%;
	display: inline-block;
}
div.apartado2 p.apartado2_1{
	font-size: 3.7em;
}
div.apartado2 p.apartado2_2{
	font-size: 1em;
}

section.contenidoAdmin{
	padding: 3em 0em 7em 0em;
}
section.contenidoAdmin form.formulario{
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
	position: relative;
	font-family: 'JetBrains Mono', monospace;
}
section.contenidoAdmin p.formularioTitulo, div.tablaDatos p.tablaTitulo{
	font-size: 2em;
	text-align: center;
	margin-top: 0;
	color: black;
	font-family: "Quando", serif;
	margin: 0em 30% 0em 30%;
	padding: 0.3em 0em 0.3em 0em;
	font-family: 'JetBrains Mono', monospace;
}
section.contenidoAdmin p.formularioTitulo:hover, div.tablaDatos p.tablaTitulo:hover{
	box-shadow: 0 59px  #ccff90 inset,
				100px 0 yellow inset,
				200px 0 red inset,
				300px 0 rosybrown inset,
				400px 0 skyblue inset,
				500px 0 springgreen inset,
				600px 0 #42a5f5 inset;
}
.formularioInput, .formularioLabel, .formularioSubmit{
	display: block;
	width: 100%;
	font-size: 1.3em;
}
.formularioInput{
	width: 93.5%;
}
.formularioInput{
	padding: 20px 15px 20px 15px;
	border: 1px solid black;
	margin-bottom: 40px;
	background: transparent;
}
.formularioInput:focus{
	outline: 1px solid rgba(0,0,0,0.7);
}
.formularioInput:focus + .formularioLabel{
	margin-top: -135px;
}
.formularioLabel{
	padding-left: 15px;
	position: absolute;
	margin-top: -85px;
	z-index: -20;
	color: black;
	transition: all 0.2s;
}
.formularioSubmit{
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
}
.fijar {
	margin-top: -135px;
}
div.tablaVisualizacion{
	margin: 40px auto;
	width: 1000px;
	font-family: 'JetBrains Mono', monospace;
}
table{
	background-color: white;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}
th, td{
	border: solid 1px black;
	padding: 10px 20px;
}
thead{
	background-color: #304ffe;
	border-bottom: solid 2px black;
	color: white;
	font: 20px bold;
}
tr:nth-child(even){
	background-color: #8c9eff;
}
tr:hover td{
	background-color: #bbdefb;
}

section.contenidoAdmin form.formulario p.subirImg{
	font-size: 1.4em;
	text-align: center;
	padding: 0.5em;
	margin-top: 0;
	color: black;
	font-family: 'JetBrains Mono', monospace;
}
.cromoInput{
	display: block;
	font-size: 1.3em;
	padding: 20px 0px;
	border: 1px solid black;
	margin-bottom: 40px;
	background: transparent;
	margin-left: 15%;
}